<div class="jumbotron">
  <p class="lead">
    Betting System for:
  </p>
  <h1 class="text-center">{{game.event}}</h1>
  <h2>{{game.team1}} vs. {{game.team2}}</h2>
  <div class="row">
    <img class="team-avatar-main col-xs-6 col-sm-6" ng-src="{{game.team1img}}" alt="{{game.team1}}">
    <img class="team-avatar-main col-xs-6 col-sm-6" ng-src="{{game.team2img}}" alt="{{game.team2}}"><br>
  </div>
  <h5 class="col-xs-12 col-sm-offset-2 col-sm-8 text-center">{{game.venue}}</h5>
  <h5 class="col-xs-12 col-sm-offset-2 col-sm-8 text-center">{{game.date}}</h5>
  <p><a class="btn btn-lg btn-success" ng-href="#/makebet">Make a Bet <span class="glyphicon glyphicon-ok"></span></a></p>
</div>
