<div class="jumbotron">
  <h1>Make a Bet:</h1>
  <form class="text-center">
    <div class="row">
      <label for="team1" class="col-xs-6 col-sm-offset-2 col-sm-4" >{{game.team1}}
        <input type="radio" name="team" id="team1" ng-model="newBet.team" ng-value="1" ><img class ="team-logo" ng-src="{{game.team1img}}">
      </label>
      <label for="team2" class="col-xs-6 col-sm-4" >{{game.team2}}
        <input type="radio" name="team" id="team2" ng-model="newBet.team" ng-value="2" ><img class ="team-logo" ng-src="{{game.team2img}}">
      </label>
    </div>
    <input type="number" class="col-xs-6 col-sm-offset-4 col-sm-4" ng-model="newBet.betAmount" placeholder="100">
    <button class="col-xs-6 col-sm-offset-4 col-sm-4" ng-click="submitBet()">Submit Amount</button>
  </form>
</div>
